@tailwind base;
@tailwind components;
@tailwind utilities;

html{font-family: 'Plus Jakarta Sans', sans-serif;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(5 150 105);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sidebar-main::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}
